*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
.top{
    color: #fff;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.icon1{
    background-color: #615f5f;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 5px;
}
.icon2{
    background-color: #615f5f;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 5px;
}
.top p{
    margin: 10px;
}
.mid {
    color: #fff;
    text-align: center;
}