@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    font-family: "Arial", sans-serif;
    font-weight: 0;
}
.top{
    color: #fff;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.icon1{
    background-color: #615f5f;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 5px;
}
.icon2{
    background-color: #615f5f;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 5px;
}
.top p{
    margin: 10px;
}
.mid {
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin: 40px;
}
.searchbar{
    display: flex;
    justify-content: center;
}
.searchbar text{
    background-color: #615f5f;
}